<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,898},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,898},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>bingkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,829},{153,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{153,137}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>boy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,459},{25,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{25,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>boy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,394},{25,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{25,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,329},{25,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{25,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>girl0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,531},{23,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,585},{23,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,522},{23,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,329},{446,498}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,64},{446,498}}</string>
                <key>sourceSize</key>
                <string>{720,628}</string>
            </dict>
            <key>kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{43,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{43,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ludeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{224,938}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,190},{224,938}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>rect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,67},{780,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,260}}</string>
                <key>sourceSize</key>
                <string>{780,260}</string>
            </dict>
            <key>rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,648},{130,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,65}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,329},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,260}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>rect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{975,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{975,63}}</string>
                <key>sourceSize</key>
                <string>{975,65}</string>
            </dict>
            <key>rect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,829},{138,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,101}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,591},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xuedui0.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,329},{200,50}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>xuedui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,984},{200,34}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{200,34}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>xuehua.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,829},{185,209}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{185,209}}</string>
                <key>sourceSize</key>
                <string>{241,243}</string>
            </dict>
            <key>xueren.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,780},{116,116}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>yunduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,984},{65,35}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519aa2218c37df56dcb7e58654982a36:db2c7ef11b272338f9db96029f394b5f:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
