<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,632},{662,524}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,348},{662,524}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{608,748}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,280},{608,748}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{430,864}}</string>
                <key>offset</key>
                <string>{53,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,207},{430,864}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,892},{678,820}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,208},{678,820}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,888}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,184},{596,888}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{696,628}}</string>
                <key>offset</key>
                <string>{-12,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,244},{696,628}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tree0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de78fcf32623576aaa18822f20e290c9:52cfbb29482b0d9358e9ff1232172069:23c61ef088b24415c52ed5c9fbe2a1e2$</string>
            <key>textureFileName</key>
            <string>tree0.png</string>
        </dict>
    </dict>
</plist>
