<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boyFirstL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{25,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{25,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>boyFirstL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{25,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{25,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>boyFirstL3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{25,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boyFirstL.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7bdc0a55ae74dc6749a69326f58b34e$</string>
            <key>textureFileName</key>
            <string>boyFirstL.png</string>
        </dict>
    </dict>
</plist>
